*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

#logo{
    width: 170px;
    height: 60px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 960px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 10;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }

}

.container_1 {
  display: flex;
  height: fit-content;
}
.container {
  position: relative;
  width: 500px;
  margin: 20px;
  display: flex;
}

.container img {
  width: 100%;
  height: 100%;
  
}

@media screen and (max-width:960px) {
  .container_1 {
    display: block;
    width: 90%;
  }
  
}

@media screen and (max-width:960px) {
  .container {
    display: block;
    width: 90%;
  }
  
}

.w3-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;

}

#maps1 {
  width: 70%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
}

body {
  font-family: montserrat;
  margin: 0;
}

#maps_p {
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 30px;
  padding: 13px;
  height: 50%;
  width: auto;
}

@media screen and (max-width:800px){
  .centered {
    font-size: 20px;
    width: 90%;
  }
  
}
#background_coffee {
  opacity: 0.5;
  height: auto;
  width: 100%;
  object-fit: cover;
 
}
.h1 {
  top: 50%;
}

#background-coffee {
  object-fit: cover;
  background-repeat: repeat-y;
  background-image: url("background-coffee.jpg");
}

#contact_p {
  font-size: 25px;
  text-align: center;

}

#contact_h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

#contact_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 30px;
  background-color: white;
  opacity: 0.9;
  padding: 20px;
  width: auto;
  height: fit-content;
  
}

@media screen and (max-width:960px) {
  #contact_box {
    height: fit-content;
    width: 90%;
  }
}

@media screen and (max-width:960px) {
  #contact_p {
    height: fit-content;
    width: 90%;
    font-size: 20px;
  }
}


#background_contact {
  opacity: 0.5;
  margin: 0;
}

#opening_table {
  margin: auto;
  width: fit-content;
  margin-bottom: 50px;
  margin-top: 20px;
  position: absolute; 
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 30px;
  background-color: white;
  opacity: 0.9;
  padding: 20px;
  height: fit-content;
}

table { 
  width: 100%;
  margin-top: 20px;
}

#about_box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 30px;
  background-color: white;
  opacity: 0.9;
  padding: 20px;
  width: auto;
  height: fit-content;
}

#about_box2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 30px;
  background-color: white;
  opacity: 0.9;
  padding: 20px;
  width: auto;
  height: fit-content;
}

@media screen and (max-width:960px) {
  #about_box {
    height: fit-content;
    width: 90%;
    font-size: 20px;
  }

  @media screen and (max-width:960px) {
    #about_box2 {
      height: fit-content;
      width: 90%;
      font-size: 20px;
      margin-top: 100px;
    }